body {
  background-color: #eeeeee;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-align: center;
}

/* Navbar styles */
.navbar {
  align-items: center;
  background-color: #eeeeee;
  color: #294b29;
  display: flex;
  justify-content: space-between;
  padding: 4vw 3.2vw;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.navbar.scrolled {
  background-color: #eeeeee;
  opacity: 0.9;
  padding: 2%;
  z-index: 999;
}

.navbar-brand a {
  color: #85c88a;
  font-family: "Pacifico", cursive;
  font-size: 3.5vw;
  padding: 0.5vw 2vw;
  text-decoration: none;
}

button.dropbtn {
  background-color: #eeeeee;
  border: none;
}

.nav-link {
  display: flex;
  padding: 2%;
  margin: 0 2vw;
}

.nav-link a,
.dropbtn {
  color: #85c88a;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-size: 2vw;
  font-weight: bold;
  margin: 1vw;
  padding: 1vw;
  text-decoration: none;
}

/* Apply hover effect to nav links */
.nav-link a:hover,
.dropbtn:hover {
  background-color: #85c88a;
  color: #eeeeee;
}

/* Dropdown container */
.dropdown {
  position: relative;
}

/* Dropdown button */
.dropbtn {
  background-color: #eeeeee;
  border: none;
}

/* Dropdown content */
.dropdown-content {
  background-color: #294b29;
  border-radius: 4px;
  display: none;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

/* Dropdown content links */
.dropdown-content a {
  color: #eeeeee;
  display: block;
  margin: 0;
  padding: 12px 16px;
  text-decoration: none;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* carousel */

.carousel {
  margin: 0 auto;
  max-width: 80%;
  padding: 3%;
}

.slide {
  display: none;
  width: 100%;
}

.slide.active {
  display: block;
}

/* text */
h1 {
  font-size: 5vw;
  padding: 3% 2% 0%;
}

h2 {
  font-size: 3.5vw;
  padding: 2% 1%;
}

.h1-intro {
  margin-top: 160px;
}

.h1-intro,
.h3-intro {
  color: #85c88a;
}

.h2-info-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.b-better-info {
  font-family: "Pacifico", cursive;
}

h1,
h2 {
  font-family: "Ubuntu", sans-serif;
}

h3 {
  font-size: 1.5vw;
  padding: 2% 2% 3%;
  margin: 0;
}

/* carousel */
#myCarousel {
  padding: 0% 2% 2%;
}

.d-block {
  box-shadow: 0px 4px 8px #7b8fa1;
  height: 35vw;
  width: 90vw;
}

/* info section */
.info-bbetter {
  background-color: #85c88a;
  color: #eeeeee;
  text-align: center;
}

img {
  border-radius: 5px;
  box-shadow: 0 0 10px white;
  height: 35vw;
  width: 60vw;
}

.h3-info {
  padding: 4%;
}

/* folio wrapper */
.h1-courses {
  color: #85c88a;
  margin: 0;
}

main {
  background-color: #749bc2;
  color: #eeeeee;
  padding: 4% 4% 6%;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  padding: 10%;
}

.portfolio-item {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.portfolio-item img {
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.portfolio-item:hover img {
  cursor: pointer;
  transform: scale(1.1);
}

.portfolio-text {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 10px;
  position: absolute;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.portfolio-item:hover .portfolio-text {
  transform: translateY(0);
}

/* footer */
footer {
  background-color: #ebd671;
  color: #eeeeee;
  padding: 20px;
  text-align: center;
}

.b-better {
  font-family: "Pacifico", cursive;
}

.b-better:hover {
  cursor: default;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding-top: 2.5vw;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin: 0 10px;
}

i {
  font-size: 2vw;
  padding: 1vw;
}

i:hover {
  color: #85c88a;
  cursor: pointer;
}

.social-icons a {
  background-color: #fff;
  border-radius: 50%;
  color: #333;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 40px;
}

.social-icons a:hover {
  background-color: #748e63;
}

.p-3 {
  padding: 2rem !important;
}

.text-center {
  background-color: inherit !important;
}

/* 
      font-family: 'Montserrat', sans-serif;
      font-family: 'Pacifico', cursive;
      font-family: 'Ubuntu', sans-serif; */
