.container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: inherit;
  border-radius: 60px;
  border: 1px solid #4682a9;
  margin: 5%;
  max-width: 30vw;
  padding: 2%;
}

.image {
  box-shadow: 0 0 10px white;
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
}

.buttons {
  display: flex;
  flex-direction: column;
}
